

/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header **********/


.logo {
    width: 61.09px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entete {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-inline-start: 100px;
    border-top: solid transparent; 
    padding-top: 24px; 
    position: relative; 
    bottom: 24px;
}

.menu li:hover {
    transition: border-color 0.3s ease;
    border-top-color: #0065FC;
    color: #0065FC;
}

/******main********/

h1 {
    font-size:25px;
}

h2 {
    font-size: medium;
    font-weight: normal;
}

/*******recherche*********/

.recherche {
    display: flex;
    align-items: center;
    height: 49px;
    width: 377px;
}

.bouton {
    background-color: #0065FC;
    color: #ffffff;
    border: transparent;
    height: 49px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}

.bouton:active {
    transition: border-color 0.3s ease;
    background-color: #1d77ff;
}

.map {
    background-color: lightgrey;
    border: transparent;
    height: 49px;
    width: 49px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map:active {
    transition: border-color 0.3s ease;
    background-color: rgb(235, 235, 235);
}

.research input[type="search"] {
    height: 49px;
    font-size: 16px; 
    font-weight: bold;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: lightgrey;
    border-width: 1px;
    padding-left: 20px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}