/****** General ***********/

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header **********/

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 68px;
}

.menu li {
    border-top: transparent solid; 
    padding-top: 24px; 
    position: relative; 
    bottom: 24px;
}

.menu li:hover {
    transition: border-color 0.3s ease;
    border-top-color: #0065FC;
    color: #0065FC;
}

/******main********/

h1 {
    font-size: 22px;
    font-weight: 700;
}

.text-basic {
    font-size: medium;
    font-weight: normal;
}

/*******recherche*********/

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-search {
    background-color: #0065FC;
    color: #ffffff;
    border: transparent;
    height: 49px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    cursor: pointer;
}

.button-search i {
    display: none;
}

.button-search:active {
    background-color: #1d77ff;
}

.map {
    background-color: lightgrey;
    border: transparent;
    height: 49px;
    min-width: 49px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.map i {
    color: black;
}

.map:active {
    background-color: rgb(235, 235, 235);
}

.research input[type="search"] {
    height: 49px;
    font-size: 16px; 
    font-weight: bold;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: lightgrey;
    border-width: 1px;
    padding-left: 20px;
}



/*********filtres**************/

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text-filters {
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.filters .choices a{
    margin: 10px;
    padding: 10px 10px;
    border: 2px solid;
    border-color: lightgrey;
    border-radius: 30px;
}

.filters .choices i {
    padding-right: 10px;
}

.filters .choices a:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    margin-right: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    border: solid 0.5px;
    border-color: lightgray;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%; 
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergements-cards a {
    margin-top: 33px;
    width: 31%;
}

.hebergements-cards img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 124px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 10px;
}

.hebergements-cards .card-title {
    margin: 0px;
    height: 19px;
    line-height: 19px;
    font-weight: 700;
    font-size: 16px;
    
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
}

.hebergements-cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;  
}

.section-title {
    margin-left: 10px;
}

.show-more {
    height: 35px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************Activites****************/

.activities {
    padding: 30px;
    gap: 30px;
}

.activities-title {
    margin-right: 40px;
}

.activities-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities .card {
    padding: 0;
}

.activities a {
    width: 100%;
    margin: 10px;
}

.activities .card img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 100%;
}

.activities .card-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: small;
    height: 50px;
}

.activities .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


/**********footer************/

footer {
    gap: 30px;
    padding: 30px;
    background-color: #F2F2F2;
}

.foot {
    display: flex;
    flex-direction: row;
}

.foot .titles {
    display: inline;
    margin-left: 20px;
}

.column {
    width: 446px;
}

.list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */




/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activities .card img {
        max-height: 200px;
    }

    .activities { 
        margin-bottom: 20px;
    }

    .activities .card {
        max-height: 265px;
    }

    .activities .card-title {
        padding-bottom: 10px;
    }

    .filters .choices {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .filters .choices a{
        padding-left: 8px;
        padding-right: 8px;
    }

    .filters .choices i {
        padding-right: 7px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
        box-sizing: inherit;
    }
    
    /****** header ******/

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }

    nav {
        width: 100%;
    }

   .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        margin-top: 50px;
        gap: 0;
    }
 
    .menu li {
        border-top: none;
        width: 100%;
        padding-bottom: 0;
        justify-content: center;
    }

    .menu li a{
        padding-bottom: 15px; 
        display: flex;
        justify-content: center;
        border-bottom: solid lightgrey;
    }

    
    .menu li a:hover {
        transition: border-color 0.3s ease;
        border-bottom-color: #0065FC;
        color: #0065FC;
    }

    /********recherche********/

    .introduction {
       margin: 20px;
    }


    .button-search .texte-recherche {
        display: none;
    }

    .button-search i {
        display: block;
        color: white;
    }

    .button-search {
        min-width: 49px;
        width: 49px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 15px;
        position: relative;
        right: 10px;
    }

    /***********filtres***************/

    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .filters .choices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .filters .choices a {
        display: flex;
        justify-content: center;
    }

    .filters .choices a{
        margin: 5px;
    }

    .filters .choices i {
        padding-right: 4px;
    }

    /********hebergements-and-populaires*******/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #ffffff;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
        margin: 0;
    }

    /*********hebergements***********/

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /****************populaires*****************/

    .populaires-cards { 
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /**********activites************/

    .activities-card {
        display: flex;
        flex-direction: column;
    }

    .activities a {
        width: 100%;
        margin-left: 0;
    }

    /*********footer************/

    .foot {
        display: flex;
        flex-direction: column;
    }

    .column {
        margin-bottom: 30px;
    }
    
}


